:root {
    --blueberry: #6B7A8F;
    --blueberry-light: #ced7e2;
    --apricot: #F7882F;
    --citrus: #F7C331;
    --apple-core: #DCC7AA;
    --mud: #cc8805;
    --light-grey: #e5e5e5;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--apple-core);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* HEADER */
header {
    background-color: var(--blueberry);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}

header > h1 {
    text-align: center;
    font-size: 48px;
    color: #ffffff;
}


/* MAIN DISPLAY */
#library-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
}

.book-card {
    min-width: 25vw;
    max-width: 50vw;
    gap: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border: 2px solid var(--blueberry);
    border-radius: 5px;
    box-shadow: 3px 3px 10px grey;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    word-break: break-all;
}

.book-card > h3 {
    font-size: 24px;
    margin: 5px;
}
.book-card > h4 {
    font-size: 20px;
    font-style: italic;
    margin: 5px;
}
.book-card > h5 {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-bottom: -15px;
}

.book-pages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.book-pages-container > p {
    font-size: 16px;
}

.book-button-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: -10px;
}
.book-button-container > button {
    border: 0px;
    border-radius: 5px;
    margin: 0 1px 0 1px;
    font-size: 16px;
    flex: 0 0 32%
}
.book-button-container  > button:hover {
    cursor: pointer;
    filter: brightness(90%);
}
.increment-button {
    background-color: var(--light-grey);
}

.edit-button {
    border: none;
    background-color: transparent;
    font-size: 12px;
    align-self: flex-end;
    margin-bottom: -10px;
}
.edit-button:hover {
    cursor: pointer;
    color: var(--apricot);
    transition-duration: .2s;
}

/* UI */
#add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    background-color: var(--apricot);
    height: 80px;
    width: 80px;
    border: 1px;
    border-radius: 40px;
    z-index: 1;
    position: fixed;
    bottom: 1vh;
    right: 1vh;
}
#add-button:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: .3s;
    filter: brightness(90%);
}


/* ADD BOOK MODAL */
.book-modal {
    position: fixed;
    display: none;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4)
}

.book-form {
    display: flex;
    flex-flow: column;
    align-items:stretch;
    gap: 10px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 60%;
}
.book-form > h2 {
    text-align: center;
    margin-top: 0;
    font-size: 32px;
}
.book-form > input, label, button {
    font-size: 20px;
}

.close-button {
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: -20px;
}
.close-button:hover {
    cursor: pointer;
}

.is-read-container {
    display: flex;
    justify-content: right;
}

.submit-button {
    padding: 5px;
}